<%- include('../layout/header'); %>
<div class="row row-offcanvas row-offcanvas-right">
  <form
    method="post"
    action="<%= (act=='add')?'store':'update?id='+id %>"
    enctype="multipart/form-data"
    class="w-75"
  >
    <div class="row mb-3">
      <label for="full_name" class="col-sm-2 col-form-label">Full Name</label>
      <div class="col-sm-10">
        <input
          name="full_name"
          type="text"
          class="form-control"
          id="full_name"
          placeholder="Nick name"
          value="<%= act=='update'?data.full_name:''%>"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          name="email"
          type="text"
          class="form-control"
          id="email"
          placeholder="Email"
          value="<%= act=='update'?data.email:''%>"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input
          name="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          value="<%= act=='update'?data.password:''%>"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="address" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input
          name="address"
          type="text"
          class="form-control"
          id="address"
          placeholder="address"
          value="<%= act=='update'?data.address:''%>"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="photo" class="col-sm-2 col-form-label">Photo</label>
      <div class="col-sm-10 image-upload">
        <input
          name="image"
          type="file"
          class="form-control"
          id="photo"
          placeholder="photo"
        />
        <% if(act=='update'){ %> 
            <img src="/upload/users/<%= data.photo %> " alt="<%= data.email %>" class="img-thumbnail">
        <% } %> 
      </div>
    </div>
    <div class="row mb-3">
      <div class="offset-sm-2 col-sm-10">
        <button name="btn_submit" type="submit" class="btn btn-primary"><%= act %>
        </button>
      </div>
    </div>
  </form>
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
		<%- include('../widgets/sidebar.ejs'); %>
	</div>
</div>
<%- include('../layout/footer'); %>
