<%- include('../layout/header'); %>

<div class="row row-offcanvas row-offcanvas-right">
	<div class="col-xs-12 col-sm-9">
	  <div class="table-responsive">
		<table class="table table-bordered table-striped">
		  <colgroup>
			<col class="col-xs-1">
			<col class="col-xs-7">
		  </colgroup>
		  <thead>
			<tr>
			  <th>Field</th>
			  <th>Value</th>
			</tr>
		  </thead>
		  <tbody>
		  <% for(let i=0 ; i<data.length ; i++) { %>
			<tr>
			  <th scope="row" class="upper-first"><%= data[i][0] %></th>
			  <% if (data[i][0] == 'photo') {%>
				<td><img src="<%= "/upload/users/" + data[i][1] %>" alt="<% data.email %>" class="img-thumbnail wh-50"></td>
			<% } else {%>
			  <td><%= data[i][1] %></td><% }%>
			</tr>
		  <% }%>
		  </tbody>
		</table>
	  </div>
	</div>
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
		<%- include('../widgets/sidebar.ejs'); %>
	</div>
</div>

<%- include('../layout/footer'); %>